html,
body {
  min-height: 100vh;
}

body {
  color: rgb(42, 46, 48);
  text-align: center;
  background: linear-gradient(
      34deg,
      rgb(42, 46, 48) 27%,
      rgba(235, 233, 233, 0.815) 27%
    )
    no-repeat fixed;
}

h1 {
  color: rgb(59, 58, 58);
  text-shadow: 0 2px 5px rgba(41, 39, 39, 0.651);
  font-weight: 700;
  margin: 30px auto;
  font-size: 50px;
}

img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.card-image {
  overflow: hidden;
  height: 180px;
}

.btn {
  outline: none;

  background-color: rgba(235, 233, 233, 0.815);
  box-shadow: 1px 1px 2px grey;
}

.btn:hover {
  box-shadow: 1.5px 1.5px 2px grey;
}

.btn:active {
  box-shadow: none;
}

.card {
  overflow: hidden;
  max-width: 300px;
  margin: 20px;
  padding: 0;
  box-shadow: 0 2px 5px gray;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.author {
  background-color: rgb(235, 233, 233);
  padding: 5px 15px;
  border-radius: 18px;
  box-shadow: 2px 2px 2px grey;
  width: fit-content;
  margin: 5px auto 20px auto;
}

.author a {
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-weight: 700;
}

.author a:hover {
  cursor: pointer;
  text-shadow: 0 0.3px 0.5px rgb(42, 46, 48);
}

.author a:active {
  text-shadow: none;
}

@media only screen and (max-width: 700px) {
  .cards {
    flex-direction: column;
  }
}
